@font-face {
  font-family: "Klavika Bd";
  src: url("../fonts/klavika-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Klavika Lt";
  src: url("../fonts/klavika-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Klavika Md";
  src: url("../fonts/klavika-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Klavika Rg";
  src: url("../fonts/klavika-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
